<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-label>Tell About You To The Visual Developer</ion-label>
  
   <ion-item>
    <ion-label position="stacked">Business Name</ion-label>
    <ion-input placeholder="Jina La Biashara"></ion-input>
  </ion-item>
 <ion-item>
   <ion-label>Your Age</ion-label>
   <ion-input type="number" ></ion-input>
 </ion-item>
<ion-item>
  <ion-label>Gender</ion-label>
  <ion-select placeholder="Jinsia">
    <ion-select-option value="f">Female</ion-select-option>
    <ion-select-option value="m">Male</ion-select-option>
  </ion-select>
</ion-item>
</ion-content>
